src/index.haml
!!! 5
%html{ lang: 'de' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %title Infusions-Berechnung
    %link{ href: 'bower_components/bootstrap/dist/css/bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css', rel: 'stylesheet' }
    %link{ href: 'dist/style.css', rel: 'stylesheet' }
    /[if lt IE 9]
      <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
  %body
    .container
      .page-header
        %h1 Infusions-Berechnung
      .row
        .col-md-6.col-md-offset-3
          .alert.alert-warning.alert-dismissible{ role: 'alert' }
            %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'alert', type: 'button' }
              %span{ 'aria-hidden' => 'true' } ×
            %strong Zur Info:
            Die Berechnung beruht auf Schätzungen und ist nicht 100% genau,
            orientiert sich aber an
            %a{ href: 'https://www.reddit.com/r/DestinyTheGame/comments/3pmown/update_from_roger_wolfson_on_my_infusion/' } offiziellen Angaben von Bungie.
            Alle Ergebnisse hier sind deswegen mit Vorsicht zu genießen, da sich die Formel im Spiel jederzeit ändern kann.
      .row
        .col-md-6
          .panel.panel-success
            .panel-heading
              %h3.panel-title Ich möchte dieses Item aufwerten (Ziel):
            .panel-body
              %form.form-inline
                .form-group
                  %label.sr-only{ for: 'itemLevelOld' } Item Level
                  %input.input-lg{ name: 'itemLevelOld', placeholder: 'Level (z.B. 290)', type: 'text' }
                .form-group
                  %label.sr-only{ for: 'itemQualityOld' } Item Quality
                  %select.form-control.input-lg{ name: 'itemQualityOld' }
                    %option{ value: 'L' } Legendär (lila)
                    %option{ value: 'E' } Exotisch (gelb)
        .col-md-6
          .panel.panel-danger
            .panel-heading
              %h3.panel-title Dafür habe ich zur Verfügung (Quelle):
            .panel-body
              %form.form-inline
                .form-group
                  %label.sr-only{ for: 'itemLevelSrc' } Item Level
                  %input.input-lg.form-control{ name: 'itemLevelSrc', placeholder: 'Level (z.B. 300)', type: 'text' }
      .row
        .col-md-4.col-md-offset-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Ergebnis
            .panel-body
              %form.form
                .form-group
                  %label.sr-only{ for: 'itemLevelNew' } Item Level
                  %input.input-lg.form-control{ disabled: 'disabled', name: 'itemLevelNew', placeholder: 'Level', type: 'text' }
                .form-group
                  %a.btn.btn-primary.btn-lg.btn-block#calculate{ href: '#' } Berechnen
                  %a.btn.btn-success.btn-lg.btn-block#useNewSrc{ href: '#', disabled: true } Als Ziel (grün) setzen
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' }
    %script{ src: 'bower_components/bootstrap/dist/js/bootstrap.min.js' }
    %script{ src: 'dist/app.js' }

index.html
<!DOCTYPE html>
<html lang='de'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Infusions-Berechnung</title>
    <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css' rel='stylesheet'>
    <link href='dist/style.css' rel='stylesheet'>
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
    <![endif]-->
  </head>
  <body>
    <div class='container'>
      <div class='page-header'>
        <h1>Infusions-Berechnung</h1>
      </div>
      <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
          <div class='alert alert-warning alert-dismissible' role='alert'>
            <button aria-label='Close' class='close' data-dismiss='alert' type='button'>
              <span aria-hidden='true'>×</span>
            </button>
            <strong>Zur Info:</strong>
            Die Berechnung beruht auf Schätzungen und ist nicht 100% genau,
            orientiert sich aber an
            <a href='https://www.reddit.com/r/DestinyTheGame/comments/3pmown/update_from_roger_wolfson_on_my_infusion/'>offiziellen Angaben von Bungie.</a>
            Alle Ergebnisse hier sind deswegen mit Vorsicht zu genießen, da sich die Formel im Spiel jederzeit ändern kann.
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='panel panel-success'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ich möchte dieses Item aufwerten (Ziel):</h3>
            </div>
            <div class='panel-body'>
              <form class='form-inline'>
                <div class='form-group'>
                  <label class='sr-only' for='itemLevelOld'>Item Level</label>
                  <input class='input-lg' name='itemLevelOld' placeholder='Level (z.B. 290)' type='text'>
                </div>
                <div class='form-group'>
                  <label class='sr-only' for='itemQualityOld'>Item Quality</label>
                  <select class='form-control input-lg' name='itemQualityOld'>
                    <option value='L'>Legendär (lila)</option>
                    <option value='E'>Exotisch (gelb)</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='panel panel-danger'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Dafür habe ich zur Verfügung (Quelle):</h3>
            </div>
            <div class='panel-body'>
              <form class='form-inline'>
                <div class='form-group'>
                  <label class='sr-only' for='itemLevelSrc'>Item Level</label>
                  <input class='input-lg form-control' name='itemLevelSrc' placeholder='Level (z.B. 300)' type='text'>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 col-md-offset-4'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ergebnis</h3>
            </div>
            <div class='panel-body'>
              <form class='form'>
                <div class='form-group'>
                  <label class='sr-only' for='itemLevelNew'>Item Level</label>
                  <input class='input-lg form-control' disabled='disabled' name='itemLevelNew' placeholder='Level' type='text'>
                </div>
                <div class='form-group'>
                  <a class='btn btn-primary btn-lg btn-block' href='#' id='calculate'>Berechnen</a>
                  <a class='btn btn-success btn-lg btn-block' disabled href='#' id='useNewSrc'>Als Ziel (grün) setzen</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='dist/app.js'></script>
  </body>
</html>
